    .photo {
        flex-basis: 33.33%;
        height: 100;
    }
    .quarter {
        flex-basis: 50%;
        height: 150;
    }
    .half {
        flex-basis: 50%;
        height: 150;
    }
    .bg {
        flex-basis: 100%;
        height: 100%;
    }
    .full {
        flex-basis: 100%;
        height: 200;
    }
    .fullhalf{
	    flex-basis:100%;
	    height:150;
    }